.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 #111827; /* Thumb | Track */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #262a2e; /* Tailwind gray-700 */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #111827; /* Tailwind gray-900 */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  
}.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
